# nrf51.cfg
source [find interface/jlink.cfg]
transport select swd

# The nRF51822 uses the nrf51 target chip config
source [find target/nrf51.cfg]

# Optional: Set adapter speed (1000 kHz is safe for starters)
adapter speed 1000
